<%- include('partials/header') %>
<div class="form-container">
    <h2>Login</h2>
	<div class="">
		<% if(locals.error) { %>
			<div class="alert alert-danger"><%= error %></div>
		<% } %>
		<% if(locals.success) { %>
			<div class="alert alert-success"><%= success %></div>
		<% } %>
		<form method="post">
			<div class="form-group">
			<label for="username">Username *</label>
			<input aria-required="true" name="username" id="username" value="<%= locals.username || '' %>" class="form-control" />
			</div>
			<div class="form-group">
				<label for="password">Password *</label>
				<input aria-required="true" name="password" id="password" class="form-control" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Login</button>
				<a href="/register" class="">Register</a>
			</div>
		</form>
	</div>
</div>
<%- include('partials/footer') %>